/* ---------------------------------- *\
   #BASE
\* ---------------------------------- */

:root {
  --cluster-space: var(--size--1);
  --center-space: var(--size-1);
}

/* ---------------------------------- *\
   #UTILITIES
\* ---------------------------------- */

.d-block {
  display: block;
}
